
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: sans-serif;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 24%;
  margin-top: 1.5%;
  margin-left: 1%;
  box-shadow: 2px 2px;
  box-shadow: 1px 1px gray;
  
}

.column2 {
  float: left;
  width: 73%;
  margin-right: 1%;
  margin-top: 1.5%;
  margin-left: 1%;
  box-shadow: 1px 1px gray;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 gray;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
